@font-face {
  font-family: "andada";
  src: url('assets/fonts/andada/Andada-Regular.woff2') format("woff2"), /* Preferred format */
       url('assets/fonts/andada/Andada-Regular.ttf') format("truetype");
       font-display: swap; 
       font-weight: normal;
       font-style: normal;
  
  /* Add additional font formats as needed for better browser compatibility */
}

body {
 background-color: #fcf5e5; /* Vervang #ffffff door de gewenste kleur */
}

header {
  /* background-color: #ff8800; */
  color: rgb(255, 77, 0);
  /* padding: 1em; */
  text-align: left; 
  /* font-family: "Helvetica Neue", sans-serif; */
  font-family: 'Libre Baskerville, serif';
  font-style: italic;
  margin-bottom: 0;
  margin-left: 288px;
  /* margin-left: 14px; */
  font-size: 10px;
  margin-top: 0rem;
  margin-bottom: 0rem;
  margin-right: 1rem;
  text-decoration:underline;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 0;
  /* gap: 20px; */
  /* padding: 20px; */
}

#left-column {
  position: sticky;
  top: 0;
  height: 100vh; /* Adjust the height as needed */
  overflow-y: auto; /* Add a scrollbar if the content is taller than the viewport */
  /* font-family: 'andada'; */
  font-family:  'Helvetica Neue', sans-serif;
  font-weight: 800;
  text-decoration: none; /* Remove underline from links */
  display: block; 
  /* background-color: rgb(160, 220, 250); */
  padding: 10px;
}

#left-column ul {
  list-style-type: none; /* Remove bullet points from the list */
  padding-left: 0;
}

#right-column {
  /* color: rgb(127, 127, 127); */
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
}

#right-column .indent {
  display: block;
  text-indent: 2em; /* Adjust the indentation value as needed */
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.tag {
  font-family: "Helvetica Neue", sans-serif;
  background-color: transparent;
  /* font-weight: 800; */
  font-size: 12px;
  color: rgb(124, 148, 16);
  border:#fa2222;
  /* border-bottom: 1px solid black; */
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px; /* Pas de bovenmarge aan */
  margin-bottom: 5px; /* Pas de ondermarge aan */
  display: block; 
}

.tag:hover {
  background-color: rgb(208, 208, 208);
  /* text-decoration: underline; */
}

.tag.highlight {
  background-color: rgb(223, 223, 69);
}

.column-content {
  display: none;
  margin-top: 5px;
  margin-left: 5px;
}

.selected {
  font-weight: bold;
  background-color: rgb(208, 208, 208);
}

/* uitklap linkerkolom */
details > summary {
  padding: 4px;
  width: 200px;
  /* background-color: #eeeeee; */
  border: none;
  cursor: pointer;
  list-style-type: none;
  margin-bottom: 5px;
  font-size: 15px;
}

details > p {
  /* background-color: #eeeeee; */
  padding: 4px;
  /* margin: 0; */
  margin: 3px 0;
  /* box-shadow: 1px 1px 2px #bbbbbb; */
}

details {
  padding: 10px; 
  border: 5px solid #f7f7f7;
  border-radius: 3px;
}


mark {
  background-color: rgb(190, 190, 190);
}

/* .summary0 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color:rgb(65, 87, 110);
}

.summary00 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color:rgb(65, 87, 110);
} */

.summary1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color:rgb(65, 87, 110);
  /* color:rgb(127, 127, 127);  */
}
/* hoofdstuk bovenaan kleur = 17 dec */
.hoofdstuk_1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color:rgb(110, 65, 75);
  /* color:rgb(127, 127, 127); */
}

#chapter1Btn {
  font-family: "Helvetica Neue", sans-serif;
  font-style: bold; 
  font-size: 15px;
  color:rgb(110, 65, 75);
  /* color:rgb(127, 127, 127); */
}

/* hoofdstuk bovenaan kleur = entrance */
.hoofdstuk_2 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color:rgb(0, 0, 0);
  /* color:rgb(127, 127, 127); */
}

#chapter2Btn {
  font-family: "Helvetica Neue", sans-serif;
  font-style: bold; 
  font-size: 15px;
  color:rgb(0, 0, 0);
  /* color:rgb(127, 127, 127); */
}

/* timeline of choosing */
/* hoofdstuk bovenaan kleur = tracey */
.hoofdstuk_4 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color:rgb(65, 87, 110);
  /* color:rgb(127, 127, 127); */
}

.hoofdstuk_5 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color:rgb(65, 87, 110);
  /* color:rgb(127, 127, 127); */
}

.hoofdstuk_6 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color:rgb(65, 87, 110);
  /* color:rgb(127, 127, 127); */
}

.hoofdstuk_7 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color:rgb(65, 87, 110);
  /* color:rgb(127, 127, 127); */
}

.hoofdstuk_8 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color:rgb(65, 87, 110);
  /* color:rgb(127, 127, 127); */
}

.hoofdstuk_9 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color:rgb(65, 87, 110);
  /* color:rgb(127, 127, 127); */
}

#chapter4Btn {
  font-family: "Helvetica Neue", sans-serif;
  font-style: bold; 
  color:rgb(65, 87, 110);
  /* color:rgb(127, 127, 127); */
}

#chapter5Btn {
  font-family: "Helvetica Neue", sans-serif;
  font-style: bold; 
  color:rgb(65, 87, 110);
  /* color:rgb(127, 127, 127); */
}

#chapter6Btn {
  font-family: "Helvetica Neue", sans-serif;
  font-style: bold; 
  color:rgb(65, 87, 110);
  /* color:rgb(127, 127, 127); */
}

#chapter7Btn {
  font-family: "Helvetica Neue", sans-serif;
  font-style: bold; 
  color:rgb(65, 87, 110);
  /* color:rgb(127, 127, 127); */
}

#chapter8Btn {
  font-family: "Helvetica Neue", sans-serif;
  font-style: bold; 
  color:rgb(65, 87, 110);
  /* color:rgb(127, 127, 127); */
}

#chapter9Btn {
  font-family: "Helvetica Neue", sans-serif;
  font-style: bold; 
  color:rgb(65, 87, 110);
  /* color:rgb(127, 127, 127); */
}

/* becoming a mother */
.summary2 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color:rgb(234, 33, 167);
  /* color:rgb(127, 127, 127); */
}

.hoofdstuk_11 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color:rgb(234, 33, 167);
  /* color:rgb(127, 127, 127); */
}
.hoofdstuk_12 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color:rgb(234, 33, 167);
  /* color:rgb(127, 127, 127); */
}
.hoofdstuk_13 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color:rgb(234, 33, 167);
  /* color:rgb(127, 127, 127); */
}

#chapter11Btn {
  font-family: "Helvetica Neue", sans-serif;
  font-style: bold; 
  color:rgb(234, 33, 167);
  /* color:rgb(127, 127, 127); */
}

#chapter12Btn {
  font-family: "Helvetica Neue", sans-serif;
  font-style: bold; 
  color:rgb(234, 33, 167);
  /* color:rgb(127, 127, 127); */
}

#chapter13Btn {
  font-family: "Helvetica Neue", sans-serif;
  font-style: bold; 
  color:rgb(234, 33, 167);
  /* color:rgb(127, 127, 127); */
}

/* being a mother */
.summary3 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color:rgb(1, 107, 42);
  /* color:rgb(127, 127, 127); */
}

.hoofdstuk_15 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color:rgb(1, 107, 42);
  /* color:rgb(127, 127, 127); */
}
.hoofdstuk_16 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color:rgb(1, 107, 42);
  /* color:rgb(127, 127, 127); */
}
.hoofdstuk_17 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color:rgb(1, 107, 42);
  /* color:rgb(127, 127, 127); */
}
.hoofdstuk_18 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  color:rgb(1, 107, 42);
  /* color:rgb(127, 127, 127); */
}

#chapter15Btn {
  font-family: "Helvetica Neue", sans-serif;
  font-style: bold; 
  color:rgb(1, 107, 42);
  /* color:rgb(127, 127, 127); */
}
#chapter16Btn {
  font-family: "Helvetica Neue", sans-serif;
  font-style: bold; 
  color:rgb(1, 107, 42);
  /* color:rgb(127, 127, 127); */
}
#chapter17Btn {
  font-family: "Helvetica Neue", sans-serif;
  font-style: bold; 
  color:rgb(1, 107, 42);
  /* color:rgb(127, 127, 127); */
}
#chapter18Btn {
  font-family: "Helvetica Neue", sans-serif;
  font-style: bold; 
  color:rgb(1, 107, 42);
  /* color:rgb(127, 127, 127); */
}